<ul class='list-group'>
  <li class='list-group-item'>
    <ul>
      <li>
        Repo name acme-user-mentors
      </li>
      <li>
        Deploy to heroku
      </li>
      <li>
        Seed your data
      </li>
      <li>
        Use faker company.catchPhrase() for generating award names
      </li>
    </ul>
  </li>
  <li class='list-group-item'>
    Business rules:
    <pre>
- only a user with 2 or more awards can be a mentor
- a user can not mentor themselves
    </pre>
  </li>
  <li class='list-group-item'>
    Models
    <pre>
- User
- Award
    </pre>
  </li>
  <li class='list-group-item'>
    Routes
    <pre>
- GET /
- GET /users
- POST /users
- PUT /users/:id
- DELETE /users/:id
- POST /users/:userId/awards
- DELETE /users/:userId/awards/:id
    </pre>
  <li class='list-group-item'>
    Your router: routes/users.js
    <pre>
const router = require('express').Router();

const models = require('../db').models;
const User = models.User;

const redirect = (res)=> {
  return ()=> {
    res.redirect('/users');
  };
};

//READ
router.get('/', (req, res, next)=> {
  User.findUsersViewModel()
    .then(( viewModel )=> {
      res.render('users', viewModel);
    })
    .catch(next);
});

//CREATE
router.post('/', (req, res, next)=> {
  User.create(req.body)
    .then(redirect(res))
    .catch(next);
});

//DELETE
router.delete('/:id', (req, res, next)=> {
  User.destroyById(req.params.id)
    .then(redirect(res))
    .catch( next);
});

//UPDATE
router.put('/:id', (req, res, next)=> {
  User.updateUserFromRequestBody(req.params.id, req.body)
    .then(redirect(res))
    .catch(next);
});

//CREATE AWARD
router.post('/:id/awards', (req, res, next)=> {
  User.generateAward(req.params.id)
    .then(redirect(res))
    .catch(next);
});

//DELETE AWARD
router.delete('/:userId/awards/:id', (req, res, next)=> {
  User.removeAward(req.params.userId, req.params.id)
    .then(redirect(res))
    .catch( next);
});

module.exports = router;
    </pre>
  </li>
  <li class='list-group-item'>
    Write one test for each of the class methods used in the above router.
  </li>
</ul>
